<% @needs.each do |need| %>
  <%= render "shared/card", need:need %>
<% end %>

<div class="show-map-container close">
  <p class="show-map-title" id="map-toggle">afficher sur la carte</p>
  <div class="map-container">
    <img src="https://source.unsplash.com/random" alt="" />
  </div>
</div>

<div class="marker-map">
  <p class="tag urgent">urgent</p>
  <div class="see-listing-list">
    <p><span class="underline dark">voir la liste</span></p>
    <%= render "shared/icons/eye.html.erb" %>
  </div>
</div>
</div>

<div class="add-item-container">
<div class="add-item-input-container hide" id="add-item-input">
  <input
    type="text"
    class="add-item-input"
    placeholder="ajouter un nouvel item"
  />
  <input type="submit" value="ok" />
</div>
<div class="add-item-toggle" id="add-item-toggle">
  <p class="symbol">+</p>
  <p class="content" id="add-item-text">nouvel item</p>
</div>
</div>

<%= javascript_pack_tag "map" %> <%= javascript_pack_tag "forms" %> <%=
javascript_pack_tag "add-input" %>