<div class="page-wrapper">
  <div class="container min-height">

    <div class="need-details-card">

      <div class="icon-need-type">
        <%= render "shared/need-icon.html.erb", need: @demand %>
      </div>

      <div class="need-details-header">
        <h4 class="need-details-demander">
          <%= @demand.name %>
        </h4>
        <span class="need-details-tag"><%= @demand.tag.name %></span>
      </div>
      <h3 class="need-details-title">
        <%= @demand.title %>
      </h3>

      <div class="need-details-infos">
        <% if @demand.need_type === "ErrandDemand" || @demand.need_type === "CookDemand"%>
        <p><%= @demand.need.address %></p>
        <% end %>
        <p><%= @demand.phone %></p>
        <p><%= @demand.email %></p>
      </div>

      <% if @list %>
      <div class="demand-show-list-items">
        <div class="need-card-title">
          <h4 class="need-author">
            Liste d'épicerie
          </h4>
        </div>
        <% @items.each do |item| %>
        <p><%= item.name %> - <%= item.detail %></p>
        <% end %>
      </div>
      <% end %>

      <div class="demand-show-message">
        <h4 class="need-author">
          message
        </h4>
        <p><%= @demand.message %></p>
      </div>

    </div>




    <button
      data-target="#modal-finish"
      data-toggle="modal"
      class="button button-block button-plain button-fullwidth bottom-sticky"
    >
      je m'en occupe !
    </button>
  </div>

</div>

<!-- modal -->

<aside class="hide" id="modal-finish" tab-index="-1" role="dialog">
  <div class="modal-container">
    <div class="modal-content">
      <h3 class="modal-title">merci pour micheline</h3>
      <div class="modal-body">
        <p class="modal-text">
          Afin de pouvoir vous laisser vous organiser entre vous, nous allons
          vous envoyer un courriel pour récapituler le tout.
        </p>
        <p class="modal-demand-info">
          7337 avenue de Chateaubriand, H2H 2L7 Montréal
        </p>
        <p class="modal-text">Voici le contact qu’il/elle a indiqué :</p>
        <p class="modal-demand-info">
          coucou@micheline.com
        </p>

        <p class="modal-text">
          <%= form_with(url: "/demands/#{@demand.id}/take_demand", method: "post") do %>
            <div class="form-group">
              <%= label_tag(:taker_demand, "votre courriel :") %>
              <%= text_field_tag(:taker_demand) %>
            </div>
            <%= submit_tag("envoyer", class: "button button-light medium")  %>
          <% end %>
        </p>
      </div>
      <div class="model-footer"></div>
    </div>
  </div>
</aside>

<%= javascript_pack_tag "modal" %>
