<!DOCTYPE html>
<html>
  <head>
    <title>les uns les autres</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />

    <%= stylesheet_link_tag 'application', media: 'all',
    'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>


    <link href='https://api.mapbox.com/mapbox-gl-js/v1.9.0/mapbox-gl.css' rel='stylesheet' />

  </head>

  <body>
    <%= render "shared/logo" %>
    <% if @breadcrumbs %>
      <%= render 'shared/breadcrumb.html.erb', breadcrumbs: @breadcrumbs %>
    <% end %>

    <%= yield %>

    <%= render "shared/footer.html.erb" unless params[:action] === "success_page" %>
  </body>
</html>
